<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户列表</title>
    </head>
    <body>
        <a href="/user/create_user/">添加</a>
        欢迎 {{ request.session.user.username }},<a href="/user/logout/">退出登录</a>
        <table>
            <thead>
                <tr>
                    <th>名字</th>
                    <th>年龄</th>
                    <th>电话号码</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.tel }}</td>
                        <td>
                            <a href="/user/view_user/?id={{ user.id }}">编辑</a>
                            <a href="/user/delete_user/?id={{ user.id }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
