<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户登录</title>
    </head>
    <body>
        <h1>用户登录</h1>
        {{ error }}
        <form action="/user/login/" method="POST">
            {% csrf_token %}
            <label>用户名:</label><input type="text" name="username" value="{{ username }}"/><br/><br/>
            <label>密码:</label><input type="password" name="password" value="{{ password }}"/><br/><br/>
            <input type="submit" value="登录"/><br/><br/>
        </form>
    </body>
</html>
