{% extends 'layout.html' %}

{% block title %}订单列表{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        {% for object in object_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        下单时间: {{ object.create_time }}
                    </div>
                    <div class="col-md-3">
                        收货人: {{ object.user_address.name }}
                    </div>
                    <div class="col-md-3">
                        总价格: {{ object.price }}
                    </div>
                    <div class="col-md-3">
                        状态: {{ object.status_text }}
                        {% if object.status == 0 %}
                            <button class="btn btn-info btn-xs btn-operate" data-operate="cancel" data-id="{{ object.pk }}">取消</button>
                        {% elif object.status == 1 %}
                            <button class="btn btn-info btn-xs btn-operate" data-operate="makesure" data-id="{{ object.pk }}">确认收货</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <table class="table">
                 <thead>
                    <tr>
                        <th colspan="2">商品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bgoods in object.goodsbuied_set.all %}
                        <tr>
                            <td>
                                <a href="{% url 'goods:goods_detail' bgoods.goods.pk %}" ><img src="{{ bgoods.goods.img.url }}" style="width:70px; height:70px;"/></a>
                            </td>
                            <td>
                                <a href="{% url 'goods:goods_detail' bgoods.goods.pk %}" >{{ bgoods.goods.name }}</a>
                            </td>
                            <td>
                                {{ bgoods.price }}
                            </td>
                            <td>
                                {{ bgoods.num }}
                            </td>
                            <td>
                                {{ bgoods.total_price }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-4">
        <nav>
          <ul class="pager">
            <li>一共有{{ paginator.count }}条订单信息, 共{{ paginator.num_pages }}页</li>
            <li {% if not page_obj.has_previous %} class="disabled" {% endif %}>
                <a href="{% url 'goods:orders' %}?page=1">第一页</a>
            </li>
            <li {% if not page_obj.has_previous %} class="disabled" {% endif %}>
                <a href="{% url 'goods:orders' %}?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}">前一页</a>
            </li>
            <li>当前第 {{ page_obj.number }} 页</li>
            <li {% if not page_obj.has_next %} class="disabled" {% endif %}>
                <a href="{% url 'goods:orders' %}?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}">后一页</a>
            </li> 
            <li {% if not page_obj.has_next %} class="disabled" {% endif %}>
                <a href="{% url 'goods:orders' %}?page={{ paginator.num_pages }}">最后一页</a>
            </li>
          </ul>
        </nav>  
    </div>
</div>
{% endblock %}
{% block js %}
    jQuery(document).ready(function() {

        jQuery('.btn-operate').on('click', function() {
            var operate = jQuery(this).data('operate');
            var text = operate == 'cancel' ? '确认取消吗?' : '确认已收货吗?';
            if(confirm(text)) {
                var order_id = jQuery(this).data('id');
                jQuery.post("{% url 'goods:order_operate' %}", 
                        {
                            "order_id" : order_id,
                            'operate' : operate,
                            'csrfmiddlewaretoken' : "{{ csrf_token }}"
                        },
                        function() {
                            window.location.reload();
                        },
                        'json');
            }   
        });
    });
{% endblock %}