{% extends "base.html" %}

{% block container %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form class="form-horizontal" action="{% url 'account:password_reset' %}" method="POST" novalidate="novalidate">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="form-group">
                    <label class="col-sm-3 control-label sr-only">错误提醒</label>
                    <div class="col-sm-9">
                        <p class="form-control-static text-danger">{{ form.non_field_errors.0 }}</p>
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">用户名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" name="username" placeholder="用户名" value="{{ form.username.value|default_if_none:''}}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">邮箱</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="email" name="email" placeholder="邮箱" value="{{ form.email.value|default_if_none:''}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default">密码重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
