<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户添加</title>
    </head>
    <body>
        <h1>用户添加</h1>
        <form action="/user/save_user/" method="POST" novalidate="novalidate">
            {% csrf_token %}
            <!--
            <label>用户名:</label><input type="text" name="username" value="{{ username }}"/><br/><br/>
            <label>密码:</label><input type="password" name="password" value="{{ password }}"/><br/><br/>
            <label>电话号码:</label><input type="text" name="tel" value="{{ tel }}"/><br/><br/>
            <label>年龄:</label><input type="text" name="age" value="{{ age }}"/><br/><br/>
        -->
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="添加"/><br/><br/>
        </form>
    </body>
</html>
