{% extends "layout.html" %}

{% load static %}

{% block container %}
<form 
    {% if object %} action="{% url 'account:update_user_address' object.pk %}" {% else %}action="{% url 'account:create_user_address' %}" {% endif %}
 method="POST" novalidate="novalidate">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    {% if object %}
          <input type="submit" value="修改" />
    {% else %}
          <input type="submit" value="创建" />
    {% endif %}
  
</form>
{% endblock %}