<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户登录</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <style>
            body {
                background-color: #eee;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-md-offset-5" style="margin-top:100px;">
                    <h1>用户登录</h1>
                    {{ form.non_field_errors }}
                    <form action="{% url 'user:login' %}" method="POST" novalidate="novalidate" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}" class="sr-only col-md-2 control-label">{{ form.username.label }}</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" placeholder="{{ form.username.label }}" value="{{ form.username.value|default_if_none:"" }}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}" class="sr-only col-md-2 control-label">{{ form.password.label }}</label>
                            <div class="col-md-12">
                                <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name}}" placeholder="{{ form.password.label }}" value="{{ form.password.value|default_if_none:"" }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block">登录</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
