{% extends "layout.html" %}

{% block container %}
<div class="row">
	{% if messages %}
	    {% for message in messages %}
			{% if message.tags == 'info' %}
				<div class="alert alert-success alert-dismissible" role="alert">
			{% else %}
				<div class="alert alert-danger alert-dismissible" role="alert">
			{% endif %}
			  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  		{{ message }}
  				</div>
	    {% endfor %}
	{% endif %}
</div>
<div class="row">
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail" href="detail.html">
			<img alt="" src="http://wbpreview.com/previews/WB0BMF1K5/img/product2.jpg" class="img-responsive">
		</a>
		<div class="panel-title text-center">
			<a href="single-item.html">HTC One V</a>
		</div>
		<div class="text-center">
			<h1 class="badge">Price: $50.00</h1>
		</div>
	</div>
</div>
{% endblock %}
